.registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 580px;
    min-width: 390px;
    line-height: 41px;
    text-align: center;
    border-radius: 18px;
    background-color: aquamarine;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
    font-size: 18px;
    font-weight: 550;
    margin: 0;

}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: aqua;
    min-width: 300px;
    min-height: 350px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reg-label {
    font-size: 22px;
    font-weight: 600;
}

.reg-input {
    text-align: center;
    font-size: 15px;
    min-height: 25px;
    border: none;
    border-radius: 1.9px;
}

.reg-btn {
    background-color: aquamarine;
    font-size: 20px;
    min-width: 140px;
    min-height: 40px;
    border: -1px;
    border-color: aqua;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.reg-btn:hover {
    background-color: aqua;
    font-size: 21px;
    font-weight: 500;
}